<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@1.25.4/dist/full.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" rel="stylesheet" type="text/css" />
    <title>{{username}} Data</title>
</head>
<body>
    <div class="overflow-x-auto">
        <table class="table w-full">
            <thead>
            <tr>
                <th>id</th> 
                <th>Username</th> 
                <th>Email</th> 
                <th>Mobile Number</th>
            </tr>
            </thead> 
            <tbody>
            <tr>
                <th>{{id}}</th> 
                <td>{{username}}</td> 
                <td>{{email}}</td> 
                <td>{{phone}}</td>
            </tr>
            </tbody>
        </table>
    </div>

</body>
</html>